/**
 * @name Backbone App
 */

body {
  color: #222;
  font: normal 100%/1 sans-serif;
  margin: 0;
  padding: 0;
}

/* @group Header */

.global-header {
  background: #222;
  border: 1px solid #ccc;
  padding: 15px 10px;
}

.global-header-link {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
  text-shadow: 0 1px 3px #000;
}

/* @end */

/* @group Forms */

label {
  display: block;
  font-weight: bold;
}

input[type='text'], input[type='email'], input[type='password'] {
  line-height: 1.5;
  margin-bottom: 2em;
  padding: 0.5em 0;
  width: 100%;
}

/* @end */

/* @group Edit Account */

.form-edit {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  margin: 25px;
  padding: 0 25px 25px;
}

/* @end */

/* @group Login */

@keyframes floatDown {
  from { 
	top: -100%;
  }
  to {
	top: 0;
  }
}

@-webkit-keyframes floatDown {
  from { 
	top: -100%;
  }
  to {
	top: 0;
  }
}

.modal-wrapper {
  background: rgba(0, 0, 5, 0.75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.form-login {
  animation: 0.6s floatDown;
  -webkit-animation: 0.6s floatDown;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 50px rgba(255, 255, 255, 0.25);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 0 0 0 -175px;
  padding: 0 25px 25px;
  position: absolute;
  left: 50%;
  top: 0;
  width: 300px;
}

button, input[type='submit'] {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em 1em;
}

.errors-list {
  margin: 0;
  padding: 0;
}

.error {
  background: #faa;
  border: 1px solid #D66;
  border-radius: 3px;
  color: #511;
  list-style: none;
  margin: 0 0 0.75em;
  padding: 0.75em 1em;
}

/* @end */

/* @group Articles */

.articles-list {
  list-style: none;
  margin: 25px;
  padding: 0;
}

.articles-list-item {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.articles-list-item a {
  color: #117;
  text-decoration: none;
}

/* @end */