{{upvote_link}}

<p>{{body}}</p>
<p><small>Points: {{points}}. <a href="#" class="js-reply">Reply to this comment</a></small></p>
<div class="form-comment-wrapper" style="display: none;"></div>
<div class="comments-list-wrapper"></div>