<form class="form-create">
	<h3>Submit a new article</h3>
	<div>
		<label for="title">Title</label>
		<input type="title" name="title" />
	</div>
	<div>
		<label for="link">Link</label>
		<input type="url" name="link" />
	</div>
	<div>
		<input type="submit" value="Save"/>
	</div>
</form>