<form class="form-create form-edit">
	<h4>Submit an Article</h4>
	<small><i>Make Backbode News Stronger</i></small>

	<ul class="js-errors errors-list"></ul>

	<div>
		<label for="title">Title</label>
		<input type="title" name="title" />
	</div>
	<div>
		<label for="url">Url</label>
		<input type="url" name="url" />
	</div>
	<hr>
	<div>
		<input type="submit" value="Save"/>
	</div>
</form>