<article>
	<h2>{{link url title }} <small>({{host url}})</small></h2>
	<small>
		{{pluralize points "points" "point"}}
		by someone <b>{{moment created_at}}</b>
	</small>

	<hr>

	<div class="form-comment-wrapper"></div>
    <div class="comments-list-wrapper"></div>
</article>